<div class="row">
    <div class="col-xs-6 hidden-print">
        <h2><span class="fui-user"></span> {{ entity.first_name }} {{ entity.family_ame }} </h2>
    </div>
    <div class="col-xs-6">
      <div class="btn-group pull-right hidden-print">              
        <button class="btn btn-primary "><span class="fui-gear"></span> Select an action</button>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <span class="dropdown-arrow dropdown-arrow-inverse"></span>
        <ul class="dropdown-menu dropdown-inverse">
          <li><a ui-sref="personSave({id:entity._id})"><span class="fui-new"> Edit</a></li>
          <li><a href="#"><span class="fui-credit-card"> print card</a></li>
          <li><a href="#"><span class="fui-tag"></span> print tiquet</a></li>
          <li><a href="#" ng-click="print()"><span class="glyphicon glyphicon-print"></span> print this page</a></li>
          <li class="divider"></li>
          <li><a href="#" ng-click="delete(entity._id)" ><span class="glyphicon glyphicon-remove-circle"></span> Delete</a></li>
        </ul>
      </div>
    </div>
</div>
  <h2 class="visible-print text-center">Person's detail</h2>


<div class="row">
    <div class="col-md-4">
      <div class="box mybadge hidden-print">
        <img class="pull-left pic" src="assets/images/logo.png"/>
        <img class="pull-right logo" src="assets/images/logo.png"/>
        <h2>Campus</h2>
        <ul class="list-unstyled">
            <li><strong>{{ entity.first_name }} {{ entity.familyName }}</strong></li>
            <li>{{ entity.email }}</li>
        </ul>
        <div class="footer label-primary">
           <span>yours</span>
            <span class="pull-right">2015</span>
        </div>
      </div>
      <div class="box hidden-print">
        <div class="mybadge">
          <div class="barcode" my-code-bar="{{ entity.barcode }}"></div>
          <div class="footer label-primary">
              <span>Date d'inscription: {{ entity.createdDate }}</span>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
  </div>


  <div class="col-md-4">
    <div class="box">
      <header>
          <h3><span class="fui-user"></span> Profile</h3>
      </header>
      <ul class="list-group">
          <li class="list-group-item"><strong>family name:</strong> {{ entity.family_name }}</li>
          <li class="list-group-item"><strong>first name:</strong>  {{ entity.first_name }}</li>
          <li class="list-group-item"><strong>cin:</strong> {{ entity.cin }}</li>
          <li class="list-group-item"><strong>gender:</strong> {{ entity.gender }}</li>
          <li class="list-group-item"><strong>birthday:</strong> {{ entity.birthDay | amDateFormat:'DD-MM-YYYY' }}</li>
          <li class="list-group-item"><strong>postal code:</strong> {{ entity.zipCode }}</li>
          <li class="list-group-item"><strong>niveau_etude:</strong> {{ entity.niveau_etude }}</li>
      </ul>
    </div>
  </div> 

   <div class="col-md-4">
       <div class="box">
           <header>
               <h3><span class="fui-book"></span> Contact</h3>
           </header>
           <ul class="list-group">
              <li class="list-group-item"><strong>tel :</strong> {{ entity.tel }}</li>
              <li class="list-group-item"><strong>gsm :</strong> {{ entity.gsm }}</li>
              <li class="list-group-item"><strong>address :</strong> {{ entity.address }}</li>
              <li class="list-group-item"><strong>city :</strong> {{ entity.city }}</li>
              <li class="list-group-item"><strong>country :</strong> {{ entity.country }}</li>
              <li class="list-group-item"><strong>description :</strong> {{ entity.description }}</li>
           </ul>
       </div>
    </div> 

</div>