
<input type="hidden" name="id" ng-model="entity.id" />
<div class="tabbable">
	<ul class="nav nav-tabs" ng-show="isUpdate">
		<li class="active"><a data-target="#profile-tab" data-toggle="tab"><span class="fui-user"></span> Profile</a></li>
		<li><a data-target="#password-tab" data-toggle="tab"><span class="fui-lock"></span> Password</a></li>
	</ul>
	<!-- /tabs -->
	<div class="tab-content">
		<div class="tab-pane active" id="profile-tab">
		<form name="editForm" role="form" class="form-horizontal" novalidate ng-submit="save()" show-validation>
			<div>
				<h4><span class="fui-user"></span>  Identity</h4>
				<div class="form-group">
					<label for="" class="col-sm-4 control-label">Image</label>
					<div class="col-sm-4">
						<img class="myavatar col-md-4" src="assets/images/logo.png" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.lastName">Last Name</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="lastName" ng-model="entity.lastName" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.firstName">First Name</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="firstName" ng-model="entity.firstName" />
					</div>
				</div>
				<div class="form-group" ng-class="{true: 'has-error'}[editForm.cin.$invalid]">
					<label class="col-md-4 control-label" for="entity.cin">Cin</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="cin" ng-model="entity.cin" />
					</div>
					<div class="help-block col-md-4" ng-show="editForm.cin.$invalid">
						<p class="help-block" ng-show="editForm.cin.$error.required" translate="entity.validation.required"> This field is required. </p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.barcode">barcode</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="barcode" ng-model="entity.barcode" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.gender">gender</label>
					<div class="col-md-4">
					    <select my-select="primary" name="gender" ng-model="entity.gender" ng-options="item.value as item.label for item in genderArray">
					    	<option value="" ng-if="entity.gender">Select gender</option>
					    </select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.birthDay">BirthDay</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="birthDay" ng-model="entity.birthDay" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.job">job</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="job" ng-model="entity.job" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.certificat">certificat</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="certificat" ng-model="entity.certificat" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.expertise">expertise</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="expertise" ng-model="entity.expertise" />
					</div>
				</div>
			</div>
			<!-- Contact -->
			<div>
				<h4><span class="fui-book"></span> Contact</h4>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.address">address</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="address" ng-model="entity.address" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.zipCode">zipCode</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="zipCode" ng-model="entity.zipCode" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.city">city</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="city" ng-model="entity.city" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.country">country</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="country" ng-model="entity.country" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.tel">tel</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="tel" ng-model="entity.tel" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.gsm">gsm</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="gsm" ng-model="entity.gsm" />
					</div>
				</div>
				<div class="form-group"  ng-class="{true: 'has-error'}[editForm.email.$invalid]">
					<label class="col-md-4 control-label" for="entity.email">email</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="email" ng-model="entity.email" ng-minlength="5" ng-maxlength="100" required/>
					</div>
					<div class="help-block col-md-4" ng-show="editForm.email.$invalid">
						<p class="help-block" ng-show="editForm.email.$error.required" translate="global.messages.validate.email.required">
	                        Your e-mail is required.
	                    </p>
	                    <p class="help-block" ng-show="editForm.email.$error.email" translate="global.messages.validate.email.invalid">
	                        Your e-mail is invalid.
	                    </p>
	                    <p class="help-block" ng-show="editForm.email.$error.minlength" translate="global.messages.validate.email.minlength">
	                        Your e-mail is required to be at least 5 characters
	                    </p>
	                    <p class="help-block" ng-show="editForm.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
	                        Your e-mail cannot be longer than 100 characters
	                    </p>
					</div>
				</div>
			</div>

			<!-- membership info -->
			<div>
				<h4><span class="fui-myspace"></span> Membership</h4>
				<div class="form-group"  ng-class="{true: 'has-error'}[editForm.login.$invalid]">
					<label class="col-md-4 control-label" for="entity.login">login</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
	                           ng-model="entity.login" ng-minlength="1" ng-maxlength="50" ng-pattern="/^[a-z0-9]*$/" required>
					</div>
					<div class="help-block col-md-4" ng-show="editForm.login.$dirty && editForm.login.$invalid">
	                    <p class="help-block" ng-show="editForm.login.$error.required" translate="register.messages.validate.login.required">
	                        Your login is required.
	                    </p>
	                    <p class="help-block" ng-show="editForm.login.$error.minlength" translate="register.messages.validate.login.minlength">
	                        Your login is required to be at least 1 character
	                    </p>
	                    <p class="help-block" ng-show="editForm.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
	                        Your login cannot be longer than 50 characters
	                    </p>
	                    <p class="help-block" ng-show="editForm.login.$error.pattern" translate="register.messages.validate.login.pattern">
	                        Your login can only contain lower-case letters and digits
	                	</p>
	                </div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.paymentMethod">paymentMethod</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="paymentMethod" ng-model="entity.paymentMethod" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.paymentFrequency">paymentFrequency</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="paymentFrequency" ng-model="entity.paymentFrequency" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.paymentAmount">paymentAmount</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="paymentAmount" ng-model="entity.paymentAmount" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-4 control-label" for="entity.description">description</label>
					<div class="col-md-4">
						<input type="text" class="form-control" name="description" ng-model="entity.description" />
					</div>
				</div>
			</div>

		    <div class="form-group">
		      <div class="col-sm-offset-4 col-sm-4">
		        <button type="submit" name="subvalider" ng-disabled="editForm.$invalid" class="btn btn-primary btn-embossed">
		        	<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
		        </button>
		      </div>
		    </div>
		</form>
		</div>
		<!-- /profile-tab -->

		<div class="tab-pane" id="password-tab" ng-show="isUpdate">
		<form name="changePasswordForm" role="form" class="form-horizontal" novalidate ng-submit="changePassword()" show-validation>
		   	<div class="alert alert-success" ng-show="success" translate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error"  translate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>
            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

			<h4>Change password</h4>
			<div class="form-group"  ng-class="{true: 'has-error'}[changePasswordForm.password.$invalid]">
				<label class="col-md-4 control-label" for="password">password</label>
				<div class="col-md-4">
					<input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="password" ng-minlength="5" ng-maxlength="50" required>
                <password-strength-bar password-to-check="password"></password-strength-bar>
				</div>
				<div class="help-block col-md-4" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$invalid">
					<p class="help-block" ng-show="changePasswordForm.password.$error.required" translate="global.messages.validate.newpassword.required">
                        Your password is required.
                    </p>
                    <p class="help-block" ng-show="changePasswordForm.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                        Your password is required to be at least 5 characters
                    </p>
                    <p class="help-block" ng-show="changePasswordForm.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                        Your password cannot be longer than 50 characters
                    </p>
                </div>
			</div>
			<div class="form-group"  ng-class="{true: 'has-error'}[changePasswordForm.confirmationPassword.$invalid]">
				<label class="col-md-4 control-label" for="confirmPassword">password confirmation</label>
				<div class="col-md-4">
					<input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength="5" ng-maxlength="50" required>
				</div>
				<div class="help-block col-md-4" ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid">
                    <p class="help-block" ng-show="changePasswordForm.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                        Your password confirmation is required.
                    </p>
                    <p class="help-block" ng-show="changePasswordForm.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                        Your password confirmation is required to be at least 5 characters
                    </p>
                    <p class="help-block" ng-show="changePasswordForm.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                        Your password confirmation cannot be longer than 50 characters
                    </p>
                </div>
			</div>

		    <div class="form-group">
		      <div class="col-sm-offset-4 col-sm-4">
		        <button type="submit" name="subvalider" ng-disabled="changePasswordForm.$invalid" class="btn btn-primary btn-embossed">
		        	<span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="password.form.button">save</span>
		        </button>
		      </div>
		    </div>
		</form>
		</div>
		<!-- /password-tab -->
	</div>
</div>