            <div class="list-group">
 <a ui-sref="home" data-original-title="Dashboard" class="list-group-item  ui-sref-active="active""> <span class="ti-dashboard"></span> Tableau de bord  </a>
  <a ui-sref="person" data-original-title="Persons" class="list-group-item"  ui-sref-active="active"> <span class="ti-user "></span> Gestion des Résidents  </a>
  <a ui-sref="product" data-original-title="Products" class="list-group-item" ui-sref-active="active"> <span class="ti-ruler-pencil "></span> Gestion des équipements </a>
  <a ui-sref="room" data-original-title="Rooms" class="list-group-item" ui-sref-active="active"><span class="ti-home "></span> Gestion du local </a>  
  <a ui-sref="reservation" class="list-group-item" ui-sref-active="active"><span class="ti-layout-grid3  "></span> Gestion des Réservation </a>
  <a ui-sref="config" data-original-title="Reservations" class="list-group-item" ui-sref-active="active"><span class="ti-panel "></span>  Configuration et préférences</a>
  <a href="#" class="list-group-item" ui-sref-active="active"><span class="ti-server "></span> Sauvegarde et restauration</a>
  <a href="#" class="list-group-item" ui-sref-active="active"><span class="ti-help-alt "></span> Support / À propos</a>
</div>
