<nav class="menu hidden-print" role="navigation" ng-style="style()" resize-menu>
    <ul>
        <li ui-sref-active="current">
            <a ui-sref="home" data-original-title="Tableau de bord">
                <i class="fa fa-dashboard block"></i> <span>Tableau de bord</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="person" data-original-title="adhérants"> 
                <i class="fa fa-user block"></i> <span>Persons</span> 
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="room" data-original-title="Groupes">
                <i class="fa fa-hotel block"></i> <span>Rooms</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="product" data-original-title="Status">
                <i class="fa fa-dropbox block"></i> <span>Products</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a ui-sref="contribution" data-original-title="Cotisations">
                <i class="fa fa-usd block"></i> <span>Reservations</span>
            </a>
        </li>     
        <li ui-sref-active="current">
            <a href="config" data-original-title="Préférences">
                <i class="fa fa-gears block"></i> <span>Settings</span>
            </a>
        </li>
        <li ui-sref-active="current">
            <a my-shelf my-tooltip data-toggle="tooltip" data-tooltip-style="light" data-placement="right" data-original-title="Collapse menu">
                <i class="fa fa-arrow-left block"></i> <span> Réduire le menu</span>
            </a>
        </li>
    </ul>
</nav>
