<style type="text/css"> body{
background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

  }
.login-form {
    background-color: rgba(26, 188, 156, 0.13) !important;
  }
  </style>
<div class="col-sm-6">
<div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
    <strong>Authentication failed!</strong> Please check your credentials and try again.
</div>

<form class="form" role="form">
    <div class="login-warper">
        <div class="login-icon">
            <img src="assets/images/logo.png" alt="logo" />
            <h4>Welcome to <small>CampusApp</small></h4>
        </div>
        <div class="login-form">

            <div class="form-group">
              <input type="text" name="username" class="form-control login-field" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="username">
              <label class="login-field-icon fui-user" for="username"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="password">
              <label class="login-field-icon fui-lock" for="password"></label>
            </div>

            <button type="submit" class="btn btn-primary btn-block" ng-click="login()" translate="login.form.button">Authenticate</button>
            <a class="login-link" href=\"#/register\">Register a new account</a>
        </div>    </div>
</form>
</div>